.navbar {
    height: 40px;
    min-height: 40px;
}

.bar-button-default-ios {
    color: #222;
    background-color: transparent;
}

.rebtn {
    width: 30%;
    background-color: white;
}

.lobtn {
    width: 30%;
    color: white;
    background-color: #488aff;
}

.fi {
    font-size: 16px;
}

.iuser {
    background-color: transparent !important;
}

.iarrow {
    text-align: right;
    height: 64px;
    line-height: 64px;
}